* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1726033474257-690c0a29d0cf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    /* padding: 15px; */
  }
  button {
    font-size: 7px;
  }
  .link > a {
    display: none;
  }

  .text1 {
    padding: 7%;
    width: 60%;
    height: 100%;
    /* background-color: #fff; */
  }
  .text1 h1 {
    font-size: 30px;
  }

  .text1 p {
    font-size: 18px;
    line-height: 1;
  }
  .text1 button {
    padding: 10px;
    width: 50%;
    height: 50%;
    margin-top: 30px;
  }

  .logo {
    font-size: 10px;
  }
  .name {
    display: none;
  }
  .text2 {
    width: 40%;
    height: 60%;
    /* background-color: #fff; */
  }
}
