* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.header {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1726033474257-690c0a29d0cf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
}

nav {
  height: 10vh;
  /* background-color: red; */
  padding: 10px;
  font-family: "monospace", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #defafe51;
  box-shadow: 3px 2px 4px rgba(197, 127, 127, 0.5);
}
nav i {
  font-size: 2.5em;
  color: #333;
}
.link > a {
  margin: 0 40px;
  /* margin-left: 5rem; */
  color: black;
}
button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}
.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text1 {
  /* height: 90v; */
  /* width: 110vh; */
  width: 47%;
  padding: 50px 70px;
  /* background-color: blue; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  text-align: left;
}

.text1 h1 {
  font-size: 4rem;
}

.text1 p {
  line-height: 1.5;
}

.text1 button {
  padding: 10px;
  width: 35%;
  height: 25%;
  margin-top: 30px;
}

.name {
  position: absolute;
  margin-left: 50%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Anurati";
  /* background-color: #fff; */
  letter-spacing: 3px;
}

.text2 {
  height: 20%;
  width: 30%;
  /* background-color: red; */
  margin-top: 70px;
  line-height: 1.4;
  text-align: left;
}
.text2 h2 {
  font-size: 2rem;
}

.logo {
  display: flex;
  position: absolute;
  font-size: 30px;
  letter-spacing: 30px;
  /* background-color: #fff; */
  left: 70%;
  bottom: 20%;
  cursor: pointer;
}
